h2{

    color:rebeccapurple
}
h1{

    color:orange
 }

 body{
 Background-color:yellow }

 #s3{ 
     color:brown
 }

 .fundo{background-color:aquamarine ;}
 
 /* seletor {propriedade:valor;} exemplo color:green 
 */